<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ title_section }}</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				<form #formBook="ngForm" (ngSubmit)=(onSubmit())>
					<div class="form-group" [ngClass]="{'has-error': name.touched && !name.valid }">
						<label for="name">Title</label>
						<input name="name" type="text" class="form-control" #name="ngModel" [(ngModel)]="book.name" required>
						<span class="help-block" *ngIf="name.touched && !name.valid">The name is invalid</span>
					</div>

					<div class="form-group" [ngClass]="{'has-error': author.touched && !author.valid }">
						<label for="author">Author</label>
						<input name="author" type="text" class="form-control" #author="ngModel" [(ngModel)]="book.author" required>
						<span class="help-block" *ngIf="author.touched && !author.valid">The author is invalid</span>
					</div>

					<div class="form-group" [ngClass]="{'has-error': description.touched && !description.valid }">
						<label for="description">Description</label>
						<textarea name="description" class="form-control" rows="3" #description="ngModel" [(ngModel)]="book.description" required></textarea>
						<span class="help-block" *ngIf="description.touched && !description.valid">The description is invalid</span>
					</div>

					<div class="form-group" [ngClass]="{'has-error': pages.touched && !pages.valid }">
						<label for="pages">Cant. Pages</label>
						<input name="pages" type="text" class="form-control" #pages="ngModel" [(ngModel)]="book.pages" required>
						<span class="help-block" *ngIf="pages.touched && !pages.valid">The cant. pages is invalid</span>
					</div>

					<div class="form-group" [ngClass]="{'has-error': started_in.touched && !started_in.valid }">
						<label for="started_in">Started In</label>
						<input name="started_in" type="text" class="form-control" #started_in="ngModel" [(ngModel)]="book.started_in" required>
						<span class="help-block" *ngIf="started_in.touched && !started_in.valid">The Started date is invalid</span>
					</div>

					<button type="submit" class="btn btn-primary pull-right">Save</button>
				</form>
			</div>
		</div>
	</div>
</div>